## 1. Write a program to make a name and age from the user and print a greeting message.

In [1]:
user_name = input("Your Name:")
user_age = input("Your Age")

print(f"Hello!, {user_name} Welcome to our course .Pls confirm your age {user_age}")

Your Name: Rangesh
Your Age 19

Hello!, Rangesh Welcome to our course .Pls confirm your age 19

## 2. Create a list of numbers and print only even number using a for loop.

In [4]:
numbers = range(1,20)
even_no = []

for i in numbers:
    if i%2 == 0:
        even_no.append(i)
print(even_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## 3. Write a program that handles division by zero using try-except.

In [15]:
get_num = int(input("Enter a number (Numerator):"))
get_den = int(input("Enter a number (Denominator):"))

try:
    result = (get_num/get_den)
    print(result)
except ZeroDivisionError:
    print("Invalid Entry !")

except ValueError:
    print("Invalid Entry !")
    
finally:
    print("Code successfully ended")

Enter a number (Numerator): 5
Enter a number (Denominator): 0

Invalid Entry !
Code successfully ended

### 4. Given a string , count how many vowels it has

In [18]:
user_input = input("Enter any word or sentence")
count = 0

for i in user_input.lower():
    if i in "aeiou":
        print(i)
        count += 1

print("Total no of Vowels are:",count)

Enter any word or sentence RAngeshPandian

a
e
a
i
a
Total no of Vowels are: 5

### 5. Reverse a list without using built-in-function

In [24]:
original_list = [1,2,3,4,5,6,7]
updated_list = []
i = len(original_list) - 1
while i>=0:
    updated_list.append(original_list[i])
    i -=1
    
updated_list

[7, 6, 5, 4, 3, 2, 1]

### 6.Create a dictionary with at least 5 key-value pairs and print them.

In [26]:
import pandas as pd

In [36]:
std_db = { "First Name":["Rangesh", "Aakash"],
         "Last Name":["Pandian","NaN"],
           "Age" :[19,20],
           "CGPA" :[9.40 , 9.0],
           "Location":["Theni","Kovilpatti"]
}
pd.DataFrame(std_db)

  First Name Last Name  Age  CGPA    Location
0    Rangesh   Pandian   19   9.4       Theni
1     Aakash       NaN   20   9.0  Kovilpatti

In [ ]:
7.