# Absolute Maximum Scaling

**Absolute Maximum Scaling rescales each feature by dividing all values by the maximum absolute value of that feature. This ensures the feature values fall within the range of -1 to 1. While simple and useful in some contexts, it is highly sensitive to outliers which can skew the max absolute value and negatively impact scaling quality.**

### Formula

For a feature value 
ùë•:

xscaled‚Äã=max(‚à£X‚à£)x‚Äã

**Where:**

ùë•
x is an original data point

max
‚Å°
(
‚à£
ùëã
‚à£
)
max(‚à£X‚à£) is the maximum absolute value in that feature column

## Key Characteristics

- Scales data to the range [-1, 1]

- Preserves zero values exactly

- Does not shift the data distribution

- Simple and computationally efficient

- Sensitive to outliers

## Practical Implementation

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('SampleFile.csv')

df = df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [4]:
max_abs = np.max(np.abs(df), axis=0)

scaled_df = df / max_abs

scaled_df.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

### When to Use Absolute Maximum Scaling

- Use this scaling method when:

- Your data is sparse, for example text vectorization or TF-IDF features

- You want to preserve zero values

- You are working with linear models or distance-based models

- Memory efficiency is important

Absolute Maximum Scaling rescales features by dividing each value by the maximum absolute value, producing values between -1 and 1 while preserving zeros.

# The End !!