## Min-Max Scaling

Min-Max Scaling transforms features by subtracting the minimum value and dividing by the difference between the maximum and minimum values. This method maps feature values to a specified range, commonly 0 to 1, preserving the original distribution shape but is still affected by outliers due to reliance on extreme values.

### Key Characteristics

- Scales features to a fixed range, usually [0, 1]

- Preserves the original data distribution shape

- Sensitive to outliers

- Easy to interpret and implement

### When to Use Min-Max Scaling

- Use this method when:

- Features have known and fixed bounds

- You are working with distance based algorithms such as KNN or K-Means

- Neural networks require normalized input values

- You want all features on the same scale

- Scales features to range.
- Sensitive to outliers because min and max can be skewed.

### Code Example: Performing Min-Max Scaling

- Creates MinMaxScaler object to scale features to range.
- Fits scaler to data and transforms with scaler.fit_transform(df).
- Converts result to DataFrame maintaining column names.
- Shows first few scaled rows with scaled_df.head().

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('SampleFile.csv')

df = df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [4]:
max_abs = np.max(np.abs(df), axis=0)

scaled_df = df / max_abs

scaled_df.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

##  Normalization (Vector Normalization)

**Normalization scales each data sample (row) such that its vector length (Euclidean norm) is 1. This focuses on the direction of data points rather than magnitude making it useful in algorithms where angle or cosine similarity is relevant, such as text classification or clustering.**

## X(scaled) = xi / ||x||

### Code Example: Performing Normalization

- Scales each row (sample) to have unit norm (length = 1) based on Euclidean distance.
- Focuses on direction rather than magnitude of data points.
- Useful for algorithms relying on similarity or angles (e.g., cosine similarity).
- scaled_df.head() shows normalized data where each row is scaled individually.

In [3]:
from sklearn.preprocessing import Normalizer

scaler = Normalizer()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

scaled_df.head()

    LotArea  MSSubClass
0  0.999975    0.007100
1  0.999998    0.002083
2  0.999986    0.005333
3  0.999973    0.007330
4  0.999991    0.004208

## Standardization

**Standardization centers features by subtracting the mean and scales them by dividing by the standard deviation, transforming features to have zero mean and unit variance. This assumption of normal distribution often benefits models like linear regression, logistic regression and neural networks by improving convergence speed and stability.**

where 

- μ = mean, 
- σ = standard deviation.
- Produces features with mean 0 and variance 1.
- Effective for data approximately normally distributed.

## Code Example: Performing Standardization

- Centers features by subtracting mean and scales to unit variance.
- Transforms data to have zero mean and standard deviation of 1.
- Assumes roughly normal distribution; improves many ML algorithms’ performance.
- scaled_df.head() shows standardized features.

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data,
                         columns=df.columns)
scaled_df.head()

    LotArea  MSSubClass
0 -0.207142    0.073375
1 -0.091886   -0.872563
2  0.073480    0.073375
3 -0.096897    0.309859
4  0.375148    0.073375

# The End !!