## Min-Max Scaling

Min-Max Scaling transforms features by subtracting the minimum value and dividing by the difference between the maximum and minimum values. This method maps feature values to a specified range, commonly 0 to 1, preserving the original distribution shape but is still affected by outliers due to reliance on extreme values.

### Key Characteristics

- Scales features to a fixed range, usually [0, 1]

- Preserves the original data distribution shape

- Sensitive to outliers

- Easy to interpret and implement

### When to Use Min-Max Scaling

- Use this method when:

- Features have known and fixed bounds

- You are working with distance based algorithms such as KNN or K-Means

- Neural networks require normalized input values

- You want all features on the same scale

- Scales features to range.
- Sensitive to outliers because min and max can be skewed.

### Code Example: Performing Min-Max Scaling

- Creates MinMaxScaler object to scale features to range.
- Fits scaler to data and transforms with scaler.fit_transform(df).
- Converts result to DataFrame maintaining column names.
- Shows first few scaled rows with scaled_df.head().

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('SampleFile.csv')

df = df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [4]:
max_abs = np.max(np.abs(df), axis=0)

scaled_df = df / max_abs

scaled_df.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

# The End !!