In [1]:
import pandas as pd

In [7]:
pd.read_csv('player_stats.csv')

,name,nation,position,team,age,born,played,starts,minutes,goals,assists,penalty_kicks,penalty_kick_attempts,yellow,red,expected_goals,progressive_carries,progressive_passes,received_progressive_passes
0,Max Aarons,England,DF,Bournemouth,25.0,2000.0,3,1,86,0,0,0,0,0,0,0.0,1,8,3
1,Joshua Acheampong,England,DF,Chelsea,19.0,2006.0,4,2,170,0,0,0,0,1,0,0.2,0,8,0
2,Tyler Adams,United States,MF,Bournemouth,26.0,1999.0,27,20,1875,0,3,0,0,7,0,1.6,13,71,10
3,Tosin Adarabioyo,England,DF,Chelsea,27.0,1997.0,21,14,1319,1,1,0,0,3,0,0.9,5,39,1
4,Simon Adingra,Cote dIvoire,"FW,MF",Brighton,23.0,2002.0,28,11,1052,2,2,0,0,0,0,2.4,50,18,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,Ashley Young,England,DF,Everton,39.0,1985.0,31,18,1785,1,3,0,0,6,1,0.3,23,89,32
567,Illia Zabarnyi,Ukraine,DF,Bournemouth,22.0,2002.0,35,34,3019,0,0,0,0,4,1,1.1,26,134,4
568,Oleksandr Zinchenko,Ukraine,"DF,MF",Arsenal,28.0,1996.0,14,4,458,0,1,0,0,1,0,0.3,10,37,12
569,Joshua Zirkzee,Netherlands,"FW,MF",Manchester Utd,24.0,2001.0,32,14,1402,3,1,0,0,2,0,4.8,14,44,69
570,Martin Ødegaard,Norway,MF,Arsenal,26.0,1998.0,29,26,2309,2,8,1,1,4,0,4.7,91,255,151

In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("player_stats.csv")
df

,name,nation,position,team,age,born,played,starts,minutes,goals,assists,penalty_kicks,penalty_kick_attempts,yellow,red,expected_goals,progressive_carries,progressive_passes,received_progressive_passes
0,Max Aarons,England,DF,Bournemouth,25.0,2000.0,3,1,86,0,0,0,0,0,0,0.0,1,8,3
1,Joshua Acheampong,England,DF,Chelsea,19.0,2006.0,4,2,170,0,0,0,0,1,0,0.2,0,8,0
2,Tyler Adams,United States,MF,Bournemouth,26.0,1999.0,27,20,1875,0,3,0,0,7,0,1.6,13,71,10
3,Tosin Adarabioyo,England,DF,Chelsea,27.0,1997.0,21,14,1319,1,1,0,0,3,0,0.9,5,39,1
4,Simon Adingra,Cote dIvoire,"FW,MF",Brighton,23.0,2002.0,28,11,1052,2,2,0,0,0,0,2.4,50,18,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,Ashley Young,England,DF,Everton,39.0,1985.0,31,18,1785,1,3,0,0,6,1,0.3,23,89,32
567,Illia Zabarnyi,Ukraine,DF,Bournemouth,22.0,2002.0,35,34,3019,0,0,0,0,4,1,1.1,26,134,4
568,Oleksandr Zinchenko,Ukraine,"DF,MF",Arsenal,28.0,1996.0,14,4,458,0,1,0,0,1,0,0.3,10,37,12
569,Joshua Zirkzee,Netherlands,"FW,MF",Manchester Utd,24.0,2001.0,32,14,1402,3,1,0,0,2,0,4.8,14,44,69
570,Martin Ødegaard,Norway,MF,Arsenal,26.0,1998.0,29,26,2309,2,8,1,1,4,0,4.7,91,255,151

In [10]:
features = [
    "minutes",
    "goals",
    "assists",
    "expected_goals",
    "progressive_carries",
    "progressive_passes",
    "yellow",
    "red"
]

In [11]:
scaler = MinMaxScaler()

df_norm = df.copy()
df_norm[features] = scaler.fit_transform(df[features])

In [12]:
weights = {
    "goals": 0.25,
    "assists": 0.15,
    "expected_goals": 0.20,
    "progressive_carries": 0.10,
    "progressive_passes": 0.10,
    "minutes": 0.10,
    "yellow": -0.05,
    "red": -0.05
}

In [13]:
df_norm["player_score"] = 0

for feature, weight in weights.items():
    df_norm["player_score"] += df_norm[feature] * weight

In [14]:
team_scores = (
    df_norm
    .groupby("team")["player_score"]
    .sum()
    .sort_values(ascending=False)
)

print("Team Strength Scores (Normalized):")
print(team_scores)

Team Strength Scores (Normalized):
team
Liverpool          3.729716
Manchester City    3.557186
Newcastle Utd      3.184991
Arsenal            3.151986
Tottenham          3.113626
Chelsea            3.045794
Brentford          2.949059
Brighton           2.916435
Aston Villa        2.839570
Fulham             2.831871
Bournemouth        2.786442
Nott'ham Forest    2.567471
Wolves             2.550552
Crystal Palace     2.501976
Manchester Utd     2.456515
West Ham           2.338953
Everton            2.190731
Leicester City     2.146438
Southampton        1.934520
Ipswich Town       1.916792
Name: player_score, dtype: float64

In [15]:
predicted_winner = team_scores.idxmax()
print("\nPredicted Winning Team:", predicted_winner)

Predicted Winning Team: Liverpool