# 1. What Is Naive Bayes

**Naive Bayes is a probabilistic supervised learning algorithm based on Bayes Theorem.
It is widely used for classification tasks, especially when dealing with text data such as spam detection, sentiment analysis, and document categorization.**

- It predicts the class of a data point by calculating the probability of each class and selecting the one with the highest posterior probability.

## 2. Why Is It Called Naive

- Because the algorithm assumes that all features are independent of each other, even though in real datasets this is rarely true.
- This assumption simplifies calculations, allowing Naive Bayes to be extremely fast and efficient.

## 3. Bayes Theorem Formula

Naive Bayes is based on the formula:

**P(Class | Features) = [ P(Features | Class) * P(Class) ] / P(Features)**

Where:

- P(Class | Features) is the posterior probability

- P(Class) is the prior probability

- P(Features | Class) is the likelihood

- P(Features) is the evidence

## 4. How Naive Bayes Works 

1. Calculate prior probability for each class
Example: probability of spam vs non spam email.

2. Calculate likelihood of each feature given the class
Example: frequency of words in spam emails.

3. Apply Bayes theorem to compute posterior probability.

4. Choose the class with the highest probability.

## 5. Types of Naive Bayes Algorithms
**a. Gaussian Naive Bayes**

Used when numerical features follow a normal distribution.
Formula uses mean and variance of each feature.

**b. Multinomial Naive Bayes**

Used for text classification where features represent word counts or term frequencies.

**c. Bernoulli Naive Bayes**

Features are binary (0 or 1), representing presence or absence of a term.

## 6. Advantages of Naive Bayes

- Very fast training and prediction speed

- Works well with large datasets

- Performs well on text data

- Requires less training data

- Handles high dimensional data efficiently

- Simple and easy to interpret

## 8. Example Use Cases

- Email spam detection

- Sentiment analysis

- Document classification

- Medical diagnosis

- Recommendation systems

## Hands on Practical

In [5]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [6]:
golf_data = pd.read_csv('golf_df.csv')

In [7]:
golf_data

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [9]:
golf_data.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [10]:
golf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     bool
 4   Play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [13]:
df= golf_data.apply(lambda x: x.astype('category'))

In [14]:
df1 = golf_data.apply(lambda x: x.cat.codes)

In [15]:
train = df1[:10]
test = df1[-4:]

In [16]:
y_train = train.pop('Play')
x_train = train

In [18]:
y_test = test.pop('Play')
x_test = test

In [19]:
model = MultinomialNB()
model_obj = model.fit(x_train , y_train)

In [20]:
y_out = model.predict(x_test)

In [25]:
print('Training Accuracy:' , model.score(x_train , y_train)*100)
print('Training Accuracy:', model.score(x_test , y_test)*100)

Training Accuracy: 90.0
Training Accuracy: 100.0

# The End!!